<h1>"File has been compressed and saved."</h1>
<h2>Original Image</h2>
<img src="<%= oPath%>" alt="Origin image" width="500" height="500" />
<h2>Compressed Image</h2>
<img src="<%= cPath%>" alt="Compressed image" width="500" height="500" />

<a href="/"><button>Next</button></a>